.page{
  background-color: lightslategray;
}
.header{
  display: flex;
}
.nav-bar{
  display: flex;
}
.title{
  padding-left: 20px;
}
h2{
  padding: 5px;
}


.mainBody{
  display: flex;
}
.mainBody > div{
  padding: 40px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}
.mainBody > div > img{
  max-width: 75%;
  min-width: 144px;
}


.parent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,auto));;
}
.child{
  border: 2px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-width: 300px;
}
.child > img{
  cursor: pointer;
  width: 288px;
  height: auto;
}
.child1{
  grid-row: span 2;
}
.child1 > img{
  justify-content: center;
  align-items: center;
}
.child2{

}
.child3{

}
.child4{
  grid-column: span 2;
  display: flex;
}
.child4 > div{
  padding-left: 20px;
}
.child5{

}
.child6{

}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}


.projects{
  margin: 20px;
  display: grid;
}
.project{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  border: 2px solid black;
}
.pic{
  margin: 10px;
  min-width: 200px; /* here instead of picture */
}
.picture{
  width: 100%;
  height: auto;
  padding-right: 10px;
}
.text{
  display: grid;
}
.text > h3, p{
  display: flex;
  justify-content: center;
  align-items: center;
}


.videos{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.video{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-video{
  grid-column: span 3;
}
.v{
  width: 75%;
  height: auto;
  padding: 20px;
  min-width: 200px;
}


.form{
  display: grid;
}